.aboutPage{
    background-image: url('/images/aboutBg.png');
    width: 100%;
    height: max-content;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}